$background-color: #3d84b8;
$g-color: #a7d0cd;

.app {
  text-align: center;
  transition: margin-left 0.5s;
}

.mainContent {
  background-color: $g-color;

  .mainTitle {
    font-weight: 900;
    font-size: 400%;
  }

  .details {
    font-size: 20px;
  }

  .authForm {
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    padding: 5px 5px;
  }
}

@media (max-width: 575.98px) {
  .mainContent {
    .authForm {
      width: 90%;
      padding: 5px 5px;
    }
  }
}
