$font-color: #fff;
$bg-color: #d8f8b7;
$g-color: #fea82f;
$t-color: #000;

.home {
  padding: 20px;
  margin: 0 10px;
  text-align: left;
  background-color: $font-color;
  color: $t-color;
  font-size: large;

  ul li {
    margin: 10px 0;
  }
}
